.input {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}
.input input::-webkit-input-placeholder{
    font-family: "Source Sans 3", sans-serif;
}

.input input {
    padding: 16px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    border: 3px solid#262626;
}